/*Crea funciones para el estilo de la pagina*/

@mixin centering($top) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin clearfix {
  content: " ";
  clear: both;
  display: table;
}
